body {
  background-color: #333333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}

hr {
  width: 70vw;
  margin: 30px auto;
  border: 2px solid #CFCFCF;
  border-radius: 5px;
  box-shadow: 0 0 5px #CFCFCF;
  padding: 0;
  animation: glow 1.5s ease-in-out infinite;
  -webkit-animation: glow 1.5s ease-in-out infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 2px #CFCFCF;
  }
  50% {
    box-shadow: 0 0 8px #CFCFCF;
  }
  100% {
    box-shadow: 0 0 2px #CFCFCF;
  }
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 2px #CFCFCF;
  }
  50% {
    box-shadow: 0 0 8px #CFCFCF;
  }
  100% {
    box-shadow: 0 0 2px #CFCFCF;
  }
}
